{
    "plugins": [
        ["transform-export-extensions"],
        ["transform-object-rest-spread", { "useBuiltIns": true }]
],    
    "env": {
        "production": {
            "presets": [
                [
                    "env", 
                    {
                        "targets": {
                            "node": "4.10",
                            "browsers": ["Firefox > 20", "chrome > 30", "safari > 6"]
                        },
                        "modules": false
                    }
                ]
            ]
        },
        "test": {
            "presets": [
                [
                    "env", 
                    {
                        "targets": {
                            "node": "4.10",
                            "browsers": ["Firefox > 20", "chrome > 30", "safari > 6"]
                        }
                    }
                ]
            ]            
        }
    }
}